<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>
<body>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">UserName</th>
      <th scope="col">PassWord</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h4 th:text="${user.firstName}"></h4></td>
      <td><h4 th:text="${user.lastName}"></h4></td>
      <td><h4 th:text="${user.email}"></h4></td>
      <td><h4 th:text="${user.userName}"></h4></td>
      <td><h4 th:text="${user.passWord}"></h4></td>
    </tr>
   
  </tbody>
</table>
</body>
</html>